.header {
    text-align: center;
}
.upload {
    cursor: pointer;
}


.header{
    background-color: #333333;

}
.text{
  margin: 30px;
}

.mainContainer{
    background-color: #bdbdbd;
    border-radius: 15px ;
}

body{
    background-color: #313E50;
}

h1{
  font-family: 'Archivo', sans-serif;
 color: rgb(0, 0, 0);
 text-align: center;

}

h2{
 font-family: 'Archivo', sans-serif;
 color: white;
}

h3{
  font-family: 'Archivo', sans-serif;
 color: rgb(0, 0, 0);
 text-align: center;
}

h4{
 font-family: 'Archivo', sans-serif;
 color: white;
}

h5{
  font-family: 'Archivo', sans-serif;
  color: white;

}

h6{
 font-family: 'Archivo', sans-serif;
 color: rgb(0, 0, 0);
 text-align: center;
}

a{
  font-family: 'Archivo', sans-serif;
  color: white;
 }
 .center{
  display: block;
  margin: 0% auto;
  text-align: center;
}

.todo{
  background-color: rgb(241, 241, 241);
  border-radius: 15px;
}
