
h1{
  font-family: 'Archivo', sans-serif;
  color: black;
  text-align: center;
}

h2{
 font-family: 'Archivo', sans-serif;
}

h3{
 font-family: 'Archivo', sans-serif;
}

h4{
 font-family: 'Archivo', sans-serif;
}


h5{
 font-family: 'Archivo', sans-serif;
}

h6{
 font-family: 'Archivo', sans-serif;
}

p{
 font-family: 'Archivo', sans-serif;
 text-align: center;
}

a{
  font-family: 'Archivo', sans-serif;
 }

 li{
  font-family: 'Archivo', sans-serif;
 }
