
<div class="container">
  <br><br>
  <br><br>
   <br><br>
  <br><br>
  <div class="row">

    <div class="col">
      <img src="assets/img/fit.svg" alt="">
    </div>

    <div class="col" style="margin-left: 80px;">
      <h1 style="font-size: 55px; font-family: 'Archivo', sans-serif; " >Es tiempo de mejorar</h1>
      <br>
      <h4>Nuestro gimnasio está equipado con la fuerza más apta de la industria</h4>
    </div>

  </div>
  <br><br><br><br>
  <div class="row">
    <div class="col">
      <div class="plan1">
          <div class="con">
            <br><br>
            <h4 style="font-size: 30px;">Básico</h4>
            <img  style="opacity: 5;" src="assets/img/BAS.svg" width="150" height="80" alt="">
            <br>
            <h5>Entrená cuando quieras en tu gimnasio de elección</h5>
            <br>
            <h1 style="font-size: 70px;">$24.90</h1>
            <br>
            <p>Inscripción: Varía según la local
              Mantenimiento anual: $49.90*</p>
            <br>
            <ul style="text-align: left; font-size: 15px;">
              <h6>CONDICIONES</h6>
              <li>Sin multa por cancelación</li><br>
              <h6>BENEFICIOS INCLUIDOS</h6>
              <li>Área de peso libre, peso integrado, cardio y clases grupales</li>
              <li>Acceso a todas las áreas del gimnasio</li>
              <li>Sin cargo por cancelación</li>
              <li>Smart Fit App</li>
              <li>Smart Fit Go</li>
            </ul>
            <br>
            <button type="button" class="btn btn-dark" routerLink = "/form-components" routerLinkActive="active">Inscribirse</button>
            <br><br><br>
          </div>
      </div>
    </div>
    <div class="col">
      <div class="plan2">
        <div class="con">
          <br><br>
          <h4 style="font-size: 30px;">Estándar</h4>
          <img  style="opacity: 5;"  src="assets/img/STA.svg" width="150" height="80" alt="">
          <br>
          <h5>Entrená cuando quieras en tu gimnasio de elección</h5>
          <br>
          <h1 style="font-size: 70px;">$36.90</h1>
          <br>
          <p>Inscripción: Varía según la local
            Mantenimiento anual: $65.90*</p>
          <br>
          <ul style="text-align: left; font-size: 15px;">
            <h6>CONDICIONES</h6>
            <li>Sin multa por cancelación</li><br>
            <h6>BENEFICIOS INCLUIDOS</h6>
            <li>Área de peso libre, peso integrado, cardio y clases grupales</li>
            <li>Acceso a todas las áreas del gimnasio</li>
            <li>Sin cargo por cancelación</li>
            <li>Camiseta Black Exclusiva</li>
            <li>Invitar un amigo a entrenar</li>
            <li>Smart Fit App</li>
            <li>Smart Fit Go</li>
          </ul>
          <br>
          <button type="button" class="btn btn-dark" routerLink = "/form-components" routerLinkActive="active">Inscribirse</button>
          <br><br><br>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="plan3">
        <div class="con">
            <br><br>
            <h4 style="font-size: 30px;">Avanzado</h4>
            <img style="opacity: 5;" src="assets/img/F+.svg" width="150" height="80" alt="">
            <br>
            <h5>Entrená cuando quieras en tu gimnasio de elección</h5>
            <br>
            <h1 style="font-size: 70px;">$48.90</h1>
            <br>
            <p>Inscripción: Varía según la local
              Mantenimiento anual: $86.90*</p>
            <br>
            <ul style="text-align: left; font-size: 15px;" >
              <h6>CONDICIONES</h6>
              <li>12 meses de fidelidad</li><br>
              <h6>BENEFICIOS INCLUIDOS</h6>
              <li>Área de peso libre, peso integrado, cardio y clases grupales</li>
              <li>Acceso a todas las áreas del gimnasio</li>
              <li>Acceso a otros Smart Fit en el mundo</li>
              <li>Camiseta Black Exclusiva</li>
              <li>Invitar un amigo a entrenar</li>
              <li>Sillones de masaje</li>
              <li>Camiseta Black Exclusiva</li>
              <li>Smart Fit App</li>
            <li>Smart Fit Go</li>
            </ul>
            <br>
            <button type="button" class="btn btn-dark" routerLink = "/form-components" routerLinkActive="active">Inscribirse</button>
            <br><br><br>
          </div>
      </div>
    </div>
  </div>
</div>
